@charset "utf-8";

@media screen and (min-width: 769px) {
.inner { position: relative; width: 1000px; margin: 0 auto; }
a { transition: .5s; }
a:hover { opacity: .7; transition: .5s; }

/*==============================================================================
    .header style
============================================================================= */

/*==============================================================================
    .hero style
============================================================================= */
.hero-bg { min-width: 1000px; padding: 607px 0 260px; background: #1363ce url(../img/hero_bg01_pc.jpg) no-repeat 50% 0; background-size: 2000px 1242px; }
.hero-ttl { width: 873px; margin: 0 auto; }

/*==============================================================================
    .movie style
============================================================================= */
.movie-bg { padding: 1px 0 280px; background: url(../img/movie_bg01_pc.jpg) no-repeat 50% 0; background-size: cover; }
.movie .cta-block { position: relative; width: 962px; margin: -145px auto 0; }
.movie .btn-block { display: flex; flex-wrap: wrap; justify-content: space-between; position: absolute; left: 236px; top: 158px; width: 530px; margin: 0 auto }
.movie .apple { width: 231px; }
.movie .google { width: 251px; }
.movie .youtube { position: relative; width: 100%; margin: 80px 0 0; padding-top: 56.25%; }
.movie .youtube iframe { position: absolute; top: 0; right: 0; width: 100% !important; height: 100% !important; }

/*==============================================================================
    .overview style
============================================================================= */
.overview-bg { min-width: 1000px; margin: -260px 0 0; padding: 1px 0 275px; background: url(../img/overview_bg01_pc.png) no-repeat 50% 0; background-size: cover; }
.overview-ttl { width: 1543px; margin: 0 0 0 -318px; }
.overview .game-screen { width: 1036px; margin: -270px -18px 0; }

/*==============================================================================
    .character style
============================================================================= */
.character-bg { position: relative; min-width: 1000px; margin: -216px 0 0; padding: 1px 0 202px; background: url(../img/character_bg01_pc.png) no-repeat 50% 0; background-size: cover; z-index: 2; }
.character-ttl { width: 1223px; margin: 0 0 0 -128px; }
.character-example { width: 1141px; margin: 47px 0 0 -111px; }

/*==============================================================================
    .twitter style
============================================================================= */
.twitter-bg { margin: -208px 0 0; padding: 330px 0 76px; background: #0545c4 url(../img/twitter_bg01_pc.png) no-repeat 50% 0; background-size: cover; }
.twitter-block { display: flex; flex-wrap: wrap; justify-content: space-between; position: relative; width: 1080px; height: 600px; margin: 0 -40px; border-radius: 15px; }
.twitter-ttl { position: absolute; left: -65px; top: -130px; width: 477px; }
.twitter-block .info { width: 50%; padding: 40px; background: #fff; border-top-left-radius: 10px; border-bottom-left-radius: 10px; }
.twitter-block .account-info { position: relative; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin: 30px 0 0; }
.twitter-block .account-info .icon { width: 110px; }
.twitter-block .account-info .name { width: 330px; }
.twitter-block .account-info .txt01 { font-size: 18px; font-weight: bold; }
.twitter-block .account-info .btn { width: 170px; margin: 15px 0 0; }
.twitter-block .info .comments { margin: 28px 0 0; line-height: 2; }
.twitter-block .timeline-wrap { width: 50%; height: 600px; padding: 40px; background: #e0eaff; border-top-right-radius: 10px; border-bottom-right-radius: 10px; }
.twitter-block .timeline-wrap .scroll { height: 100%; border-radius: 5px; overflow-y: scroll; }

/*==============================================================================
    .cta style
============================================================================= */
.cta .bg { padding: 60px 0 65px; background: url(../img/cta_bg01.jpg) no-repeat 50% 0; background-size: cover; }
/* .cta-ttl { width: 962px; margin: 0 auto; } */
.cta .main-block { position: relative; width: 962px; margin: 0 auto; }
.cta .btn-block { display: flex; flex-wrap: wrap; justify-content: space-between; position: absolute; left: 236px; top: 143px; width: 530px; margin: 0 auto }
.cta .apple { width: 231px; }
.cta .google { width: 251px; }

/*==============================================================================
    footer style
============================================================================= */
.footer { padding: 30px 0 47px; background: #242b39; color: #fff; }
.footer .top-block { justify-content: flex-start; position: relative; width: 700px; margin: 0 0 0 158px; padding: 0 0 30px; }
.footer .top-block::before { position: absolute; left: 0; right: 0; bottom: 0; width: 100%; height: 1px; border-bottom: solid 1px #393f4c; background: #0c1527; content: ""; }
.footer-logo { width: 146px; margin: 0 40px 0 0; }
.footer .game-category { width: 510px; font-size: 14px; }
.footer .game-category .txt01,.footer .game-category .txt03 { width: 220px; }
.footer .game-category .txt02,.footer .game-category .txt04 { width: 290px; }
.footer-copyright { margin: 46px 0 0; font-size: 15px; text-align: center; }

}

@media screen and (min-width: 2100px) {
    .overview-bg { margin-top: -130px; padding: 50px 0 200px; background-color: #02188b; }
    .character-bg { margin-top: -130px; padding: 50px 0 100px; background-color: #3c0004; }
}
