@charset "utf-8";

@media screen and (max-width: 768px) {

/*==============================================================================
    .common style
============================================================================= */
html { font-size: 13.3333333vw; }

/*==============================================================================
    .header style
============================================================================= */

/*==============================================================================
    .hero style
============================================================================= */
.hero-bg { height: 100vh; background: url(../img/hero_bg01_sp.jpg) no-repeat 50% 0; background-size: cover; }
.hero-bg .ttl { display: none; }

/*==============================================================================
    footer style
============================================================================= */


}