@charset "utf-8";

@media screen and (min-width: 769px) {
.inner { position: relative; width: 980px; margin: 0 auto; }

/*==============================================================================
    .header style
============================================================================= */

/*==============================================================================
    .hero style
============================================================================= */
.hero-bg { height: 100vh; min-height: 1080px; background: url(../img/hero_img01_pc.jpg) no-repeat 50% 0; background-size: cover; }
.hero .ttl { display: none; }

/*==============================================================================
    footer style
============================================================================= */

}