@charset "utf-8";

@media screen and (max-width: 768px) {

/*==============================================================================
    .common style
============================================================================= */
html { font-size: 13.3333333vw; }
.inner { position: relative; width: auto; padding: 0 .2rem; }

/*==============================================================================
    .header style
============================================================================= */

/*==============================================================================
    .hero style
============================================================================= */
.hero-bg { padding: 0 0 1rem; background: #0545c4; }
.hero-ttl { margin: 0 -.2rem; }
.hero-twitter .twitter-bnr { margin: -2.2rem -.2rem 0; }
.hero-twitter .twitter-timelinewrap { height: 6rem; margin: .3rem auto; overflow: scroll; }
.hero-twitter .twitter-btn { width: 6rem; margin: .5rem auto 0; }

/*==============================================================================
    footer style
============================================================================= */
.footer { padding: .3rem 0; background: #242b39; }
.footer-copyright { color: #fff; font-size: .2rem; text-align: center; }

}